/* global css */
:root,
textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* position: relative; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color backgroundColor 0.25s;
}

button:hover {
  border-color: #646cff;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backdrop {
  width: 100%;
  height: 100%;
  /* background-color: rgb(200, 200, 200); */
  z-index: 100;
  position: fixed;

  top: 50%;
  transform: translateY(-50%);
}

.input-validation {
  border: none;
  border-bottom: solid 0.9px black;
  height: 2rem;
  width: 20rem;
  background-color: transparent;
  outline: none;

  /* transition: border ease 0.3s; */

  font-size: 20px;
}

.input-validation:focus {
  border-bottom: solid 1px blue;
}

.textarea-task {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  resize: none;
  width: 20rem;
  height: 5rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  outline: none;
}

.textarea-task:hover {
  background-color: rgb(230, 230, 230);
}

.button-task {
  background-color: #1b66c9;
  color: white;
  font-weight: 400;
}

.closeButton {
  background-color: white;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.closeButton:hover {
  outline: none;
  background-color: rgb(245, 245, 245);
}
