/* day */
.dayContainer {
  width: 15vw;
  background-color: rgb(240, 240, 240);
  transition: filter ease 0.2s;
}

.dayContainer:hover {
  filter: brightness(0.9);
}
.titleContainer {
  display: flex;
  flex-direction: row;
}

.day {
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}
/* week */
.weekContainer {
  height: 17vh;
  display: flex;
  gap: 0.1rem;
}

.weekContainer:nth-child(1) {
  height: 18vh;
}

.weekContainer:nth-child(5) {
  height: 18vh;
}
/* month */
.monthContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 0.1rem;

  width: 90vw;
  /* height: 70vh; */
  /* background-color: rgb(100, 100, 100); */
}

/* calendar */
/* .calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
} */
